<h3>Login</h3>
<form action="/login" method="POST">
<b><label for="username">User Name:</label></b>
  <input type="text" name="username" placeholder="Username:">
  <b><label for="password">Password:</label></b>
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
